PRIVATE_KEY=
SEPOLIA_RPC_URL=
ETHERSCAN_API_KEY=
ADMIN_ADDRESS=

# Forwarder contract address for your environment
# Sepolia mock simulation:  0x15fC6ae953E024d975e77382eEeC56A9101f9F88
# Sepolia production:       0xF8344CFd5c43616a4366C34E3EEE75af79a74482
KEYSTONE_FORWARDER=0x15fC6ae953E024d975e77382eEeC56A9101f9F88

# Wallet for CRE simulator EVM writes during local sim
CRE_ETH_PRIVATE_KEY=

GEMINI_API_KEY=

# Fill after running deploy script
CONTRACT_ADDRESS=
LOAN_ID_HEX=

MOCK_API_URL=